/* global */

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 0 20px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.markdown-body a {
  color: #01579b;
}

.post-ads {
  margin: 50px 0;
}

.markdown-body > h2,
h3 {
  margin-top: 1.5em !important;
}

/* overwrite github-markdown */

.markdown-body {
  font-family: "PT Serif", serif;
  line-height: 1.55;
  font-size: 19px;
}

.markdown-body li + li {
  margin-top: 0;
}

.markdown-body h2 {
  font-family: "PT Serif", serif;
  font-size: 1.3em;
  font-weight: bold;
}

pre {
  background-color: #f6f8fa !important;
  font-size: 15px !important;
  border-radius: 6px !important;
}

/* i18n */

.Chinese .markdown-body {
  line-height: 200%;
}

/* header */

.site-title {
  font-size: 2rem;
  margin-top: 32px;
}

.site-date-catalog {
  font-size: 2rem;
}

.signatures {
  font-family: "Permanent Marker", cursive;
}

.signatures a {
  text-decoration: none;
}

body {
  color: #333;
}

.header-line {
  width: 100%;
  border-width: 3px;
  border-color: #333;
  border-style: solid none none none;
  margin: 18px 0;
}

.header-link {
  font-weight: 600;
  font-size: 20px;
  margin-right: 12px;
}

/* posts list */

#posts-list {
  min-height: 70%;
}

.posts-line {
  margin: 16px 0;
  padding-bottom: 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.posts-line-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.posts-line-date {
  color: gray;
  font-size: 1rem;
  padding-top: 3px;
}

.site-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center !important;
  padding: 12px 0;
  border-width: 3px;
  border-style: solid none;
  border-color: #333;
}

/* post */

.post-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
}

.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 0.4em;
}

.markdown-body h1 {
  font-family: "Helvetica Neue";
}

.post-category {
  display: inline;
  font-weight: 900;
  padding: 2px;
  border: #333 2px solid;
}

.post-date {
  font-weight: 800;
  color: gray;
}

.post-author {
  float: right;
  font-weight: 600;
}

.post-content {
  margin-bottom: 50px;
}

.post-content p {
  margin-bottom: 1em;
}

.releated-content {
  border-width: 3px;
  border-style: solid;
  border-color: #333;
  padding: 0 10px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.releated-content li {
  margin: 5px 0;
}

/* taxonomy */

.taxonomy-term {
  font-size: 3rem;
}

/* gallery */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}
.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}

/* details and summary (basically a collapsable div) */

details {
  margin-bottom: 16px;
  border-color: #e6ebf1;
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

details > summary {
  margin-left: 10px;
  font-weight: bold;
}

details > pre {
  margin-top: 6px;
}

summary:hover {
  cursor: pointer;
}

.inline-svg {
  display: inline-block;
  height: 1.4rem;
  width: 1.4rem;
  top: 0.4rem;
  position: relative;
}

.site-footer-item {
  margin-right: 12px;
}

.katex {
  font-size: 1.1em !important;
}

.markdown-body code {
  padding-bottom: 2px !important;
  padding-top: 5px !important;
}

table {
  font-size: 0.9em !important;
  margin-bottom: 1em !important;
}

table,
th,
td {
  border: 0 !important;
  overflow: auto !important;
}

.markdown-body table {
  border-collapse: separate !important;
}

.utterances {
  margin-bottom: 30px !important;
}

#player {
  margin-bottom: 1em !important;
}

code.has-jax {
  -webkit-font-smoothing: antialiased;
  background: inherit !important;
  border: none !important;
  font-size: 100%;
}

/* Mobile */

@media screen and (max-width: 600px) {
  .signatures {
    text-align: center;
  }
  .post-desc {
    margin-bottom: 30px;
  }
  .site-title {
    margin-bottom: 10px;
  }
  .site-footer {
    margin-top: 20px;
  }
  .site-footer-item {
    margin-right: 8px;
  }
  .end-xs {
    justify-content: center !important;
  }
  .post-title {
    font-size: 1.5em !important;
  }
  .post-header {
    margin-bottom: 10px;
  }
  pre {
    font-size: 14px !important;
  }
  .markdown-body {
    font-size: 17px;
  }
  .post-content p {
    text-align: left !important;
  }
}
