<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row center-xs" style="text-align: left;">
      <div class="col-xs-12 col-sm-10 col-md-7 col-lg-5">
        <div class="header">
          {{ partial "header.html" . }}
        </div>
        <div id="posts-list">
          {{ range (where site.RegularPages "Type" "in" site.Params.mainSections).GroupByDate "2006" -}}

            {{ range .Pages }}
            <div class="row posts-line">

                {{ if isset .Params "medium" }}
                    <a class="posts-line-title" href="{{ .Params.medium }}">{{ .Title }}</a>
                {{ else if isset .Params "carbonfact" }}
                    <a class="posts-line-title" href="{{ .Params.carbonfact }}">{{ .Title }}</a>
                {{ else if isset .Params "recording" }}
                    <a class="posts-line-title" href="{{ .Params.recording }}">{{ .Title }}</a>
                {{ else if isset .Params "slides" }}
                    <a class="posts-line-title" href="{{ .Params.slides }}">{{ .Title }}</a>
                {{ else }}
                    <a class="posts-line-title" href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ end }}

                <div class="posts-line-subtitle">

                    {{ if isset .Params "medium" }}
                        <span class="posts-line-emoji">📝</span>
                    {{ else if isset .Params "recording" }}
                        <span class="posts-line-emoji">🎥</span>
                    {{ else if isset .Params "slides" }}
                        <span class="posts-line-emoji">🎞️</span>
                    {{ else }}
                        <span class="posts-line-emoji">📝</span>
                    {{ end }}


                    <time class="posts-line-date" datetime="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "2006-01-02"}}</time>
                    {{ if isset .Params "tags" }}
                        {{ range $tag := .Params.tags }}
                            <span class="posts-line-tag">{{ $tag }}</span>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}
          {{ end }}
        </div>

        {{ partial "footer.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>

</html>
