<div class="site-footer">
  <div class="site-footer-item site-footer-icon">
    <a href="https://github.com/MaxHalford"><img src="/img/github.svg" /></a>
  </div>
  <div class="site-footer-item site-footer-icon">
    <a href="https://kaggle.com/maxhalford"><img src="/img/kaggle.svg" /></a>
  </div>
  <div class="site-footer-item site-footer-icon">
    <a href="https://linkedin.com/in/maxhalford"><img src="/img/linkedin.svg" /></a>
  </div>
  <div class="site-footer-item site-footer-icon">
    <a href="/files/resume_max_halford.pdf"><img src="/img/resume.svg" /></a>
  </div>
  <div class="site-footer-item site-footer-icon">
    <a href="https://scholar.google.com/citations?user=erRNNi0AAAAJ&hl=en"><img src="/img/gscholar.svg" /></a>
  </div>
  <div class="site-footer-item site-footer-icon">
    <a href="https://play.spotify.com/user/1166811350"><img src="/img/spotify.svg" /></a>
  </div>
  <div class="site-footer-item site-footer-icon">
    <a href="mailto:maxhalford25@gmail.com"><img src="/img/email.svg" /></a>
  </div>
</div>
