<div class="site-footer">
  <div class="site-footer-item">
    <a href='{{ .Site.Params.staticPrefix }}{{ "index.xml" | relURL }}'>{{ partial "fontawesome.html" "rss" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://github.com/MaxHalford">{{ partial "fontawesome.html" "github" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://linkedin.com/in/maxhalford">{{ partial "fontawesome.html" "linkedin" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://twitter.com/halford_max">{{ partial "fontawesome.html" "twitter" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://kaggle.com/maxhalford">{{ partial "fontawesome.html" "kaggle" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="/files/resume_max_halford.pdf">{{ partial "fontawesome.html" "resume" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://scholar.google.com/citations?user=erRNNi0AAAAJ&hl=en">{{ partial "fontawesome.html" "gscholar" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://www.imdb.com/user/ur73044771">{{ partial "fontawesome.html" "popcorn" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://play.spotify.com/user/1166811350">{{ partial "fontawesome.html" "spotify" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="https://www.goodreads.com/user/show/67553795-lemax">{{ partial "fontawesome.html" "books" }}</a>
  </div>
  <div class="site-footer-item">
    <a href="mailto:maxhalford25@gmail.com">{{ partial "fontawesome.html" "email" }}</a>
  </div>
</div>
