<header class="header-parts">
  {{ $isLinks := hasPrefix .RelPermalink "/links/" }}
  {{ $isBio := hasPrefix .RelPermalink "/bio/" }}
  {{ $isThoughts := hasPrefix .RelPermalink "/blog/thoughts/" }}
  {{ $isBlog := or .IsHome (and (hasPrefix .RelPermalink "/blog/") (not $isThoughts)) }}
  <div class="signatures site-title">
    <a href="{{ .Site.LanguagePrefix }}/"
      >{{ or .Site.Params.headTitle .Site.Params.author.name }}</a
    >
  </div>
  <div class="header-links">
    <a class="header-link" href="/"{{ if $isBlog }} aria-current="page"{{ end }}>Blog</a>
    <a class="header-link" href="/links/"{{ if $isLinks }} aria-current="page"{{ end }}>Links</a>
    <a class="header-link" href="/bio/"{{ if $isBio }} aria-current="page"{{ end }}>Bio</a>
    <a class="header-link" href="/blog/thoughts/"{{ if $isThoughts }} aria-current="page"{{ end }}>Showerthoughts</a>
    <a class="header-link" href="https://maxhalford.github.io/squill/">Squill</a>
    <a class="header-link" href="https://ill-be-back-production.up.railway.app/">I'll Be Back</a>
    <!--<a class="header-link rainbow-link" href="/freelance/">Hire me</a>-->
    {{ partial "theme-toggle.html" . }}
  </div>
</header>
