{{- if and (ne .Kind "home") (ne .Kind "section") (ne .Kind "taxonomy") (ne .Kind "term") -}}
{{- $desc := .Description -}}
{{- if not $desc -}}{{- $desc = .Summary | plainify | truncate 200 -}}{{- end -}}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ .Permalink }}"
    },
    "articleSection": "{{ .Section }}",
    "name": {{ .Title | jsonify | safeJS }},
    "headline": {{ .Title | jsonify | safeJS }},
    "description": {{ $desc | jsonify | safeJS }},
    "inLanguage": "en-US",
    "author": {
        "@type": "Person",
        "name": {{ .Site.Params.author.name | jsonify | safeJS }},
        "url": "{{ .Site.BaseURL }}"
    },
    "publisher": {
        "@type": "Person",
        "name": {{ .Site.Params.author.name | jsonify | safeJS }}
    },
    "copyrightHolder": {{ .Site.Params.author.name | jsonify | safeJS }},
    "copyrightYear": "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
    "url": "{{ .Permalink }}",
    "keywords": [{{ if isset .Params "tags" }}{{ range $i, $tag := .Params.tags }}{{ if $i }}, {{ end }}{{ $tag | jsonify | safeJS }}{{ end }}{{ end }}]
}
</script>
{{- end -}}
